ASSETSCONTROL_URL=http://icloud.assetscontrols.com:8092/OpenApi/Admin
ASSETSCONTROL_INSTRUCTION_URL=http://icloud.assetscontrols.com:8092/OpenApi/Instruction
ASSETSCONTROL_TOKEN=coloque_seu_token_aqui