# Ambiente virtual
venv/
.venv/
env/
ENV/

# Arquivo de variáveis de ambiente
.env

# Banco de dados local
db.sqlite3
*.sqlite3

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de cache/teste
.pytest_cache/
.coverage
htmlcov/

# Arquivos do Django
staticfiles/
media/

# Arquivos do VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak